<!DOCTYPE html>
<html>
    <head>
        <title>Apple</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
  
    
    <body>
        <h1>Apple</h1>
        <ul>
            <% @docs.each do |doc| %>
              <li>
                <a href="<%= doc%>"><%= doc%></a>
              </li>
            <% end %> 
        </ul>
    </body>
</html>