div {
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  height: 300px;
}
.red {
  background-color: red;
  padding: 20px;
  margin-right: 20px;
}
.blue {
  background-color: blue;
  border: 5px solid black;
}