<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= yield %>
    <p>There are currently <%= @all_names.size %> users with a total of <%= @total_interests %> interests.</p>
  </body>
</html>