Edit contents of <%= @file_name %>:
<form action="/<%= @file_name %>" method="post">
  <textarea name="content" rows=15 cols=50 placeholder="Document can be edited now!"></textarea>
  <br>
  <button type="submit" value="">Save changes</button>
</form>